.main {
    width: 100%;
    height: 960px;
    background-image: url(../img/0e13d8022d279feb0f0a5f13d632d7b2\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.containerButtons {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.mainB, .contacts, .projects, .footer {
    width: 8%;
    height: 40px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 0 10px;
    font-family: 'Cormorant Garamond', serif;
}
.textColumn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 1000px;
}

.textLine {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  font-family: 'Cormorant Garamond', serif;
  font-size: 80px;
  color: white;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  will-change: transform, opacity;
  backface-visibility: hidden;
}

.textLine:nth-child(1) { top: 0; animation-delay: 0s; }
.textLine:nth-child(2) { top: 80px; animation-delay: 2s; }
.textLine:nth-child(3) { top: 160px; animation-delay: 4s; }
.textLine:nth-child(4) { top: 220px; animation-delay: 6s; }
.textLine:nth-child(5) { top: 280px; animation-delay: 8s; }

@keyframes fadeIn {
  from { 
    opacity: 0; 
    transform: translate(-50%, 30px) scale(0.95);
  }
  to { 
    opacity: 1; 
    transform: translate(-50%, 0) scale(1); 
  }
}