.main{
    width: 100%;
    height: 1200px;
}
.contactsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.rightContainer{
    width: 50%;
    height: 100%;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;;
}
.leftContainer{
     width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.tg{
   width:600px;
   height: 30%;
   background-image: url(../img/2265.png);
   background-size: cover;
   background-position:  center center;
   cursor: pointer;
}
.inst{
      width: 600px;
    height: 30%;
    background-image: url(../img/666.png);
    background-size: cover;
    background-position:  center center;
     cursor: pointer;
}